
/* navigation bar*/
.navigation-bar-main{
    display: flex;
    align-items: center; 
    background: #121212;
   /* background: linear-gradient(180deg, #0C0C0D 119%, #000000 100%); */
    width: 100%;
    position: fixed;
    padding-left: 20px;
    z-index: 10;
    text-align: left;
  
}
.navigation-bar{
    display: flex;
    align-items: center; 
    height: 72px;
    /* background:linear-gradient(180deg, #0C0C0D 119%, #000000 100%); */
    width: 66%;
    z-index: 10;
    text-align: left;
  
}

/* changed */
.navigation_left{
/* width:  30%; */
margin-right:10px;
margin-left: 30px;
}
.navigation_right{
width : 100%;
}


.navigation_text_search input{
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.navigation_text_search input::placeholder{
    color:   #CBCBCB;
  }
.navigation_text_search svg{
    color:   #2F89FC;
  }
.navigation_text_search fieldset {
background-color: #162020;
}
.navigation_serch_button{
    padding: 0px !important;
}


/* liveChannel page*/
.expansionPanelSummary{
    min-height: 0px !important;
    height: 40px;
}
.expansionDetails{
    padding: 0px 5px !important;
}

/* .livechannel_page {
    height: 100%;
} */
.video-list{
    overflow: hidden;

}

.livechannel_card {
    padding-top: 0;
    
    height: 0%;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll !important; */
    background : black !important;
}
.livechannel_card_width {
    height: 50%;
}
.livechannel_card::-webkit-scrollbar {
    width: 6px;
}
.livechannel_card:hover::-webkit-scrollbar {
    width: 6px;
}   
.livechannel_card:hover::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

.livechannel_card_header {
    display: flex;
    margin: 10px 0 0px 25px; 
    
}
.livechannel_content_section {
    width: 100%;
}
.livechannel_content_section::-webkit-scrollbar {
    height: 6px;
}
.livechannel_content_section:hover::-webkit-scrollbar {
    height: 6px;
}   
.livechannel_content_section:hover::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}
.livechannel_page .channel_icon {
    border: 2px solid green;
    border-radius: 50%;
    position: relative;
    margin: 10px 2%;
    display: inline-block;
}
.livechannel_page .channel_icon.channel_error {
    border: 2px solid red;
}
.yt-img-shadow {
    width: 80px;
    height: 70px;
    margin-right: 10px;
  
    border: 0px solid #fff; 
}
@media (min-width:1000px){
    .video_name span:first-child{
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 35px;
        font-size: 14px;  
        line-height: 20px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
     }
}
@media (max-width:999px){
    .yt-img-shadow {
        width: 100px;
        height: 70px;
        margin-right: 10px;
        border-radius: 0%;
        border: 2px solid #fff; 
    }
}
@media (max-width:500px){
    .yt-img-shadow {
        width: 100px;
        height: 70px;
        margin-right: 10px;
        border-radius: 0%;
        border: 2px solid #fff; 
    }
    .video_name span:first-child{
                    display: block;
                    display: -webkit-box;
                    max-width: 100%;
                    height: 43px;
                    font-size: 14px;  
                    line-height: 20px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
          }
    
}
.livechannel_page .channel_icon {
    cursor: pointer;
}

.live_language{
    width: 100%;
    background: #121212;
}
.live_language>.top{
    display: flex;
    color: white;
}
.live_right_card_top{
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:#fff;
}
.live_right_card_top.active{
    color : #E4E4E4;
    border-bottom: 2px solid #2F89FC;
}
.live_right_card_top.inactive{
    color : #626262;
    border-bottom: 2px solid #383838;
}
.live_card_videoPlay{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.live_card_videoPlay span{
    white-space: pre-line;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #A3A3A3;
    text-align: left;
}
.live_card_videoPlay > span:last-child{
    font-family: Barlow;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height:21px;
color: #DADADA;

}
.live_filtered{
    margin: 10px 0 10px 20px;
    text-align: left;
    
    color: white;
}
.chipClickedcolor{
    color: #FFFFFF !important;
    background:  #40514E !important;
}
.chipClickedcolor>div{
    color: #FFFFFF !important;
    background:  #2F89FC !important;
}
.chipUnclickedColor{
    color: #FFFFFF !important;
    background:  #323232 !important;
}
.chipUnclickedColor>div{
    color: #FFFFFF !important;
    background:  #606060 !important;
}


/* chat */
.livechannel_chat_card {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: none !important;
}
.chatpage_section > div > div > div:nth-child(2){
    height: 80% !important;
    min-height: 60% !important;
}
.chatpage_section > div > div {
    max-width: 100% !important;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    height: 90%;
}
.chatpage_section > div {
    position: absolute !important;
    width: 100%;
    margin: 0 !important;
    padding-top: 0;
    margin-left: -5px;
    top: 0;
}

/* right sidebar*/
.right-collapse{
    height: 30px;
    width: 30px;
    position: fixed;
    right: 0px;
    top: 50px;
    background: #aba099a8;
    border-radius: 50% 0 0 50%;
}
.togglesidebar{
    padding: 0px !important;
    margin-top: 3px !important;
}
.togglesidebar:focus{
    outline: none !important;
}
.togglesidebar:hover{
    background-color: rgba(0, 0, 0, 0.40) !important;
}

/*  newly added */

.MuiChip-avatar-13:focus{
    color:#2F89FC;
    background:#2F89FC !important;
}         textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{
   
  box-shadow:none;
  outline:0px none;
}
@media (min-width:501px){
    .search-wrap .form-control{
        float:right;
        width: 80%;
        background: url('../../../../../assets/img/button/search_icon_white.png') no-repeat right 9px center transparent;
        padding:20px 20px 20px 20px;
        background-color:#1E1E1E;;
        border: 0px !important;
       color:#A3A3A3 !important;
       border-radius: 0px !important;
        font-size: 15px;   
    }
.search-wrap input:focus{
    display: block;
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    background: url('../../../../../assets/img/button/search_icon_blue.png') no-repeat right 9px center transparent;
     background-color: #162020;
    padding-right:40px;
   
    font-weight: 400;
    line-height: 1.5;
    
}
}
@media (max-width:500px){
.search-wrap .form-control{
    width:30px;
    height: 30px;
    float:right;
    background: url('../../../../../assets/img/button/search_icon_white.png') no-repeat right 9px center transparent;
    padding:20px 20px 20px 20px;
    background-color:#1E1E1E;;
    border-radius: 50%;
    border: 0px !important;
 
    color:#A3A3A3 !important;
    font-size: 15px;   
}

.search-wrap input:focus{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    background: url('../../../../../assets/img/button/search_icon_blue.png') no-repeat right 9px center transparent;
     background-color: #162020;
    padding-right:40px;
    border-radius: 0px !important;
    font-weight: 400;
    line-height: 1.5;
    
}

}
.search-wrap input::placeholder, .search-wrap input:focus::placeholder{
    font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 25px;

color: #A3A3A3;
}

.search-wrap{
    margin:0px 20px 20px 0px;
  
}
.search-close {
    z-index: 10000;
    position: relative;
    float: right;
    right: 5px;
    color:#2F89FC;
    top: 32px;
    margin-right: 10px;
}
.search-close:focus, .search-close:hover{
    color:#2F89FC;;
}

.live_card_videoPlay span{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #A3A3A3;
    text-align: left;
}
.live_card_videoPlay > span:last-child{
    font-family: Barlow;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height:21px;
color: #DADADA;

}
.video_name{
    padding-bottom: 5px;
    flex:1 1 auto;
    box-shadow: 0px 15px 10px -17px #111;
}
.playbutton{
    margin-top:-10px;
}

@media (max-width:992px)
{
  
}
.ln{
    border-top: 1px solid #232323;
    width:100%;
    margin-top:10px;
    margin-bottom:30px;
}
@media (max-width: 1000px){
    .navigation-bar{
       width: 100%;
    }
        
}
.section_filtered{
    background: #000000;
    height:100%;
    overflow: hidden;
    overflow-y:scroll;
}   

.section_filtered::-webkit-scrollbar {
    width: 6px;
}
.section_filtered:hover::-webkit-scrollbar {
    width: 6px;
}   
.section_filtered:hover::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}
.LiveChannelPage-chip-7{
    margin:8px 0px 8px 20px !important;
    float: left;

}
.expansionPanel{
    background-color: transparent !important;
}
.select-wrapper span.caret {
    color: #FFFFFF !important;
}
.show_more, .show_less{
    margin:10px 0px 10px 0px;
    text-decoration: none;
}
.show_more, .show_less:hover{
    text-decoration: none;
}
.chips{
    padding-left:10px;
    text-align: left;   
    margin:10px 0px 10px 0px;
}